<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>


	<settings>
		<setting name="cacheEnabled" value="false" />
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	
  <typeAliases>
	  <package name="hi.im.jenga.board.dto"/>
	  <package name="hi.im.jenga.member.dto"/>
  </typeAliases>

	<typeHandlers>
		<typeHandler handler="hi.im.jenga.board.util.CustomDateHandler" javaType="java.util.Date" jdbcType="DATE"/>
	</typeHandlers>


</configuration>

