<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">		<!-- MyBatis의 경우 작성된 XML Mapper는 상단의 파일에서 사용하는 태그들에 대한 정보가 기록된 DTD를 추가 -->

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="member">

	<!-- 개인정보 (주) -->
	<insert id="addMemberInfo">
	INSERT INTO
		tbl_memInfo
		(mem_iuid, mem_nick, mem_profile, mem_joinDate)
	VALUES (#{mem_iuid}, #{mem_nick}, #{mem_profile}, sysdate)
	</insert>

	<!-- 이메일 가입 (부) -->
	<insert id="addEMember">
	INSERT INTO
		tbl_EMember
		(em_id, em_ref, em_pwd)
	VALUES (#{emailMemberDTO.em_id}, #{iuid}, #{emailMemberDTO.em_pwd})
	</insert>

	<!-- 소셜로그인 가입 (부) -->
	<insert id="addSMember">
	INSERT INTO
		tbl_SMember
		(sm_id, sm_ref, sm_type)
	VALUES (#{socialMemberDTO.sm_id}, #{iuid}, #{socialMemberDTO.sm_type})
	</insert>

	<insert id="addAMember">
	INSERT INTO
		tbl_AMember
		(am_id, am_pwd, am_key)
	VALUES (#{am_id}, #{am_pwd}, #{am_key})
	</insert>

	<select id="isSMExist" resultType="String">
	SELECT
		sm_id
	FROM
		tbl_SMember
	WHERE
		sm_id = #{aes_sid}
	</select>

	<select id="isEMExist" resultType="String">
	SELECT
		em_id
	FROM
		tbl_EMember
	WHERE
		em_id = #{aes_eid}
	</select>

	<select id="isAMExist" resultType="String">
	SELECT
		am_id
	FROM
		tbl_AMember
	WHERE
		am_id = #{aes_eid}
	</select>

	<update id="findEPwd">
	UPDATE
		tbl_EMember
	SET
		em_pwd = #{tempPwdKey}
	WHERE em_id = #{find_pwd}
	</update>

	<update id="findAPwd" parameterType="HashMap">
 	UPDATE
		tbl_AMember
	SET
		am_pwd = #{tempPwdKey}
	WHERE am_id = <![CDATA[#{find_pwd}]]>

	</update>

	<delete id="delMember">

	</delete>

	<update id="updateMember">

	</update>

	<!--
	<select id="isExist" resultType="String">
	SELECT
		sm_id
	FROM
		tbl_sMember
	WHERE
		sm_id = #{id}
	</select>
-->

</mapper>














